<!-- <video class="fixed w-full" autoplay loop muted poster="img/poster-video-ps5.jpg">
    <source src="https://res.cloudinary.com/ddllm8ykl/video/upload/v1742509271/roller-video.mp4" type="video/mp4">
    <source src="assets/img/roller-video.mp4" type="video/mp4">

</video> -->
<video class="fixed w-full"
aria-label="RollerBCN Video"
autoplay 
loop 
muted  
oncanplay="this.play()" onloadedmetadata="this.muted = true"
poster="/assets/video/starship-video.webp">
<source src="/assets/img/roller-video.mp4" type="video/mp4">
</video>
<div class="w-full h-full fixed pattern-personalizado"></div>

