

.pattern-personalizado {
    // background-image: radial-gradient(rgba(255, 255, 255, 0.14) 4px, transparent 4px), radial-gradient(rgba(255, 255, 255, 0.14) 4px, transparent 4px);
    background-image: radial-gradient(rgba(0, 0, 0, 0.3) 4px, transparent 4px), radial-gradient(rgba(0, 0, 0, 0.3) 4px, transparent 4px);
    background-size: 14px 14px;
    background-position: 0 0, 7px 7px;
    background-color: rgba(0, 0, 0, 0.555);
    z-index: -1;
    top: 0;
    left: 0;
}
video {
    // min-width: 100%;
    // min-height: 100vh;
    // height: max-content;
    height: 140%;
    object-fit: cover;
    z-index: -2;
  }

  .fondo {
    min-width: 200%;
    min-height: 300%;
    z-index: -3;
    background-color: #000000;
    top: -10px;
    left: -10px
  }