<form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="space-y-6 p-6 bg-white rounded-lg shadow-lg">
    <!-- Título -->
    <input formControlName="title" type="text" placeholder="Título del evento" 
      class="border p-3 rounded w-full" />
  
    <!-- Fecha -->
    <input formControlName="start" type="datetime-local" 
      class="border p-3 rounded w-full" />
  
    <!-- Descripción -->
    <textarea formControlName="description" rows="4" placeholder="Descripción"
      class="border p-3 rounded w-full"></textarea>
  
    <!-- Ubicación -->
    <label class="block text-sm font-medium mb-2">Ubicación</label>
    <select 
      formControlName="location" 
      class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-fuchsia-500"
    >
      <option disabled selected value="">Selecciona una ubicación</option>
      @for (location of locations; track location._id) {
        <option [value]="location._id">{{ location.nombre }}</option>
      }
    </select>
  
    <!-- Categoría (Radio) -->
    <div class="space-y-2">
      <label class="block font-semibold">Categoría:</label>
      @for (cat of categories; track cat) {
        <label class="inline-flex items-center gap-2">
          <input type="radio" formControlName="category" [value]="cat"
            [checked]="cat === 'ruta'"> {{ cat }}
        </label>
      }
    </div>
  
    <!-- Nivel (Radio) -->
    <div class="space-y-2">
      <label class="block font-semibold">Nivel:</label>
      @for (lvl of levels; track lvl) {
        <label class="inline-flex items-center gap-2">
          <input type="radio" formControlName="level" [value]="lvl"> {{ lvl }}
        </label>
      }
    </div>
  
    <!-- Botón -->
    <button type="submit"
      class="bg-black text-white px-6 py-3 rounded transition-colors duration-300 hover:bg-fuchsia-600">
      Añadir evento
    </button>
  </form>
