  <section id="events-preview" class="max-w-[1200px] mx-auto px-4 py-8 min-h-[calc(100vh-136px)] flex flex-col justify-center items-center p-8">

    <h2 class="text-3xl font-bold mb-6 text-center text-white">Próximos Eventos</h2>


  <div class="flex flex-col lg:flex-row gap-6">

    <!-- Loading -->
    @if (eventsService.events().length === 0) {
      <div class="w-full text-center py-8">
        <svg class="animate-spin mx-auto h-8 w-8 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor"
            d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z">
          </path>
        </svg>
        <p class="mt-2 text-gray-500">Cargando eventos...</p>
      </div>
    } @else {
  
      @if (upcomingEvents().length > 0) {
        @for (event of upcomingEvents(); track event._id) {
            <div class="bg-white rounded-xl shadow-lg flex-1 flex flex-col">
              <!-- Título con degradado según categoría -->
              <div class="p-4 text-white font-bold text-xl rounded-t-xl"
              [class]="getCategoryClass(event)"
                   >
                {{ event.title }}
              </div>
      
              <!-- Info del evento -->
              <div class="p-4 flex flex-col gap-2 text-gray-700">
                <p>{{ event.description }}</p>
                <p><span class="font-bold">Fecha:</span> {{ event.start | date:'dd/MM/yyyy' }}</p>
                <p><span class="font-bold">Hora:</span> {{ event.start | date: 'HH:mm' }}</p>
                <p><span class="font-bold">Ubicación:</span> {{ getUbicacionNombreById(event.location) }}</p>
                <p><span class="font-bold">Categoría:</span> {{ event.category.join(', ') }}</p>
                <p><span class="font-bold">Nivel:</span> {{ event.level }}</p>
              </div>
            </div>
          } @empty {
            <p class="text-gray-500">No hay próximos eventos.</p>
          }
        }
    }
</div>
<div class="flex justify-center">
    <a 
    routerLink="/calendario"
      class="bg-black text-white border border-fuchsia-500 px-6 py-3 rounded-lg font-semibold 
             hover:bg-fuchsia-500 hover:text-white transition-colors duration-200 cursor-pointer m-6"
    >
      Ver todos los eventos
    </a>
  </div>

  </section>
