::ng-deep .fc {
    max-width: 1000px;
    min-height: fit-content;
    padding: 0 5%;
}

::ng-deep .fc .fc-daygrid-day.fc-day-today {
    background-color: #a2c3ee;
  }

  ::ng-deep .fc .fc-col-header-cell {
    background: linear-gradient(0deg, #000, #1e3a5f);
    color: white;
  }

::ng-deep .fc-toolbar-title {
    font-weight: bold;
    color: #1e3a5f;
  }

  @media screen and (max-width: 768px) {
    
    ::ng-deep .fc-toolbar  {
        display: flex;
        flex-direction: column;
      }
    
  }

::ng-deep .custom-event {
    color: white; 
    padding: 5px;
    font-size: 14px;
    width: 100%;
    border-radius: 0 0 20px 0;
    white-space: normal;
  }

  ::ng-deep .default-event {
    background: linear-gradient(217deg, #1e3a5f, #4c6a91); 
  }
  ::ng-deep .default-event:hover {
    background: linear-gradient(217deg, #416799, #6693ce); 
  }
  
  ::ng-deep .ruta-event {
    background: linear-gradient(217deg, #7928ca, #ff0080); 
  }
  ::ng-deep .ruta-event:hover {
    background: linear-gradient(217deg, #ab5df8, #ee5ca5); 
  }
  
  ::ng-deep .clase-event {
    background: linear-gradient(217deg, #077461, #00b300);
  }
  ::ng-deep .clase-event:hover {
    background: linear-gradient(217deg, #33b6a0, #64e664);
  }

  ::ng-deep .evento-event {
    background: linear-gradient(217deg, #db470c, #ec8815); 
  }
  ::ng-deep .evento-event:hover {
    background: linear-gradient(217deg, rgb(245, 131, 65), #f1a144); 
  }

  ::ng-deep .event-title {
    font-weight: bold;
  }

  @media screen and (max-width: 768px) {
    
    ::ng-deep .event-title {
        font-size: 12px !important;
      }
    
  }
  
  ::ng-deep .event-time {
    font-size: 12px;
    opacity: 0.8;
  }
  
  ::ng-deep .fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  ::ng-deep .fc .fc-daygrid-body-natural .fc-daygrid-day-events {
    margin-bottom: 0px !important;
  }

