<section class="w-full min-h-[calc(100vh-136px)] text-white flex flex-col justify-between items-center p-8">

    <!-- Espacio superior del tamaño del icono -->
    <div class="h-10 hidden md:block"></div>
  
    <!-- Contenido central -->
    <div class="flex flex-col grow  justify-center items-center text-center">
      <img src="assets/img/RollerBCN-logo.svg" alt="RollerBCN Logo" class="w-2/3 md:w-1/2 mb-6">
  
      <h1 class="text-3xl md:text-4xl font-bold">
        Patina, diviértete y conecta en Barcelona 
      </h1>
  
      <p class="mt-4 text-lg md:text-xl max-w-3xl">
        RollerBCN es tu punto de encuentro si te apasionan los patines en línea. 
        Únete a rutas por la ciudad, mejora tu técnica en nuestras clases y descubre 
        nuevas ubicaciones para rodar con más gente como tú. ¡Barcelona sobre ruedas te espera!
      </p>
    </div>
  
    <!-- Icono de flecha al final -->
    <div class="h-20 flex items-end">
      <div class="cursor-pointer animate-bounce" (click)="scrollToEvents()">
        <svg class="w-10 h-10 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
        </svg>
      </div>
    </div>
  
  </section>
  